/*
 * Lindsey Doyle
 * A12997818
 */

 /* main.css file - contains style settings */

.simpleTable {
    width: 100%;
    margin-left: 5px;
    border: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}

.greaterArea tr td { 
    width: 70%; 
    height: 100%;
}

#pieGrid {
    width: 100%;
    height: 500px;
    min-height: 250px;
}

#legndGrid {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
}

.pageLogo {
    height: 75px;
}

.tallHeight {
    height: 500px;
    margin: 0;
}

.midHeight {
    height: 350px;
    margin: 0;
    
}

.shortHeight {
    height: 200px;
    margin: 0;
}
.bold {
	font-weight: bold;
}
