body {
    background: "#ece9e6";
    color: "#333";
    font-family: 'Times New Roman';
}
.simpleTable {
    width: 100%;
    margin-left: 5px;
    border: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}

.greaterArea tr td { 
    width: 70%; 

}

#pieGrid {
    width: 100%;
    height: 100%;
    min-height: 250px;
}
.pageLogo {
    height: 75px;
}

.tallHeight {
    height: 500px;
    margin: 0;
}

.midHeight {
    height: 350px;
    margin: 0;
    
}
.shortHeight {
    height: 200px;
    margin: 0;
    
}
.bold {
	font-weight: bold;
}
